%muller-regular{
    font-family: 'Muller Regular';
}
%muller-medium{
    font-family: 'Muller Medium';
}
%muller-bold{
    font-family: 'Muller Bold';
}
%muller-extrabold{
    font-family: 'Muller Extra Bold';
}



// colors
%pinegreen{
    background: #2C6456;
}
%raspberry{
    background: #961F6B;
}
%nuga{
    background: #F6BC4B;
}
// colors


